@import "./projects.scss";
@import "./themes.scss";
@import "./cv.scss";
@import "./calendar.scss";
@import "./contacts.scss";


@mixin unstyle-list {
    list-style: none;
    padding: 0;
    margin: 0;
}


body {
    @include themed() {
        font-family: t("font-family");
        background-color: t("background");
    }

    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;

    padding-bottom: 4em;

    #page-content {
        max-width: 800px;
    }

    @media screen and (max-width: 767px) {
        #page-content {
            max-width: 100vw;
        }
    }
}

img#home-image {
    border: none;
}

#page-content {

    @include themed() {
        color: t("text");
    }


    .bridge ul {
        list-style-type: "\2663";

        li {
            padding-left: 5px;
        }

        ul {
            list-style-type: "\2662";
        }
    }

}

h1 {
    // remove theme setting
    font-weight: unset;
    letter-spacing: 0;
}

.main-header {
    font-family: "Gilda Display", Roboto, Helvetica, serif;
}

#page-content> :not(header) {



    h1,
    h2,
    h3,
    h4 {
        letter-spacing: inherit;

        @include themed() {
            color: t("header-text");
        }
    }

    h1 {
        font-size: x-large;
        margin-bottom: 1em;
    }

    h2 {
        font-size: large;
    }

    h3 {
        font-size: medium;
    }

    h4 {
        font-size: small;
    }

    p {
        text-align: justify;
    }

    .flag {
        display: inline-flex;

        img {
            width: 0.8em;
            height: 0.8em;
            padding-top: 2px;
        }
    }

    @include themed() {
        a {
            &:visited:not(.menu-link) {
                color: t(visited);
            }

            color: t(primary);
            &:not(:hover) {
                text-decoration: none;
            }
        }
    }
}

.menu {
    display: flex;
    flex-direction: row;
    gap: 1em;
    flex-wrap: wrap;
    justify-content: center;

    @include themed() {
        a.menu-link {
            transition: color .3s ease-in-out;
            color: t(primary);
            text-decoration: none;
            &:hover {
                color: t(text);
            }
        }
    }

   

}

.not-found {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1em 0;
}

header h1 a,
header h1 a:hover {
    @include themed() {
        color: t("header-text");
    }
}

