.cv {
    .subheading {
        font-size: large;
        margin-top: -0.5em;
        margin-bottom: 0.5em;
    }

    a {
        text-decoration: none;
        @include themed() {
            color: t("text") !important; // important is simpler here
        }
    }

    h2 {
        text-transform: uppercase;

        @include themed() {
            border-bottom: 1px solid t("header-text");
        }
    }

    .grid {
        display: grid;
        grid-template-columns: minmax(min-content, 130px) auto;
        gap: 1em;
        padding-bottom: 2em;

        &.contacts {
            grid-gap: 0.2em 1em;
        }
    }

    .left {
        display: flex;
        justify-content: end;
        flex-wrap: nowrap;
        font-style: italic;
    }

    .education .header,
    .experience .header {
        font-size: large;
    }

    .education .left,
    .experience .left {
        padding-top: 0.2em;
    }
}

.cv-body {
    padding-bottom: 4em;
}

@media print {
    #content {
        max-width: 100% !important;
        margin-left: 0 !important;
        margin-right: 0 !important;
    }

    .cv-body {
        display: flex;
        flex-direction: column;
        padding-bottom: 0;
        flex-wrap: wrap;
    }
    @page {
        margin: 0;
    }
    body {
        margin: 1.6cm;
    }
}
