<head>
    <title>{{ if .Page.Title }}{{ .Page.Title }} - {{ end }}{{ .Site.Title }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="{{if .IsHome}}{{ T $.Site.Params.description }}{{else}}{{.Description}}{{end}}" />

    {{/* CSS */}}
    {{ $overrideTemplate := resources.Get "sass/override.scss" }}
    {{ $customTemplate := resources.Get "sass/custom.scss" }}
    {{ $override := $overrideTemplate | resources.ExecuteAsTemplate "css/theme.scss" . | toCSS }}
    {{ $custom := $customTemplate | resources.ExecuteAsTemplate "css/custom.scss" . | toCSS  }}
    {{ $css := slice  ($override) ($custom) | resources.Concat "assets/css/main.css" | minify | fingerprint }}
    <link rel="stylesheet" href="{{ $css.Permalink }}">


    {{/* Adds custom styles capability */}}

    {{ $js := resources.Get "js/themes.js" }}
    <script src="{{ $js.Permalink }}"></script>


    <script src="https://kit.fontawesome.com/468feb000a.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Gilda+Display">

</head>
