<header class="container mt-sm-5 mt-4 mb-4 mt-xs-1">


    {{ if .Scratch.Get "home" }}
    <div class="row justify-content-center">
        <a href="{{ .Site.Home.RelPermalink | relLangURL }}" class="text-decoration-none">
            <img id="home-image" class="rounded-circle"
                 {{ if (and (isset .Site.Params "home_image" ) (fileExists (printf "static/%s" (strings.TrimPrefix "/"
                 .Site.Params.home_image)))) }}
                 {{ if hasPrefix .Site.Params.home_image "/" }}
                 src="{{ .Site.Params.home_image }}"
                 {{ else }}
                 src="{{ printf " /%s" .Site.Params.home_image }}"
                 {{ end }}
                 {{ else }}
                 src="/images/avatar.png"
                 {{ end }} />
        </a>
    </div>
    {{ end }}
    <div class="row justify-content-center">
        <h2 class="m-0 mb-2 mt-4">
            <a href="/" class="text-decoration-none">
                {{ if isset .Site.Params "header_title" }}
                {{ .Site.Params.header_title }}
                {{ else }}
                Your Name
                {{ end }}
            </a>
        </h2>
    </div>
    <div class="row justify-content-center">

        <ul id="nav-links" class="list-inline mb-2">
            {{ $currentPage := . }}
            {{ range .Site.Menus.main }}
            <li class="list-inline-item">
                <a class="badge badge-white {{if or ($currentPage.IsMenuCurrent " main" .)
                   ($currentPage.HasMenuCurrent "main" .) }}active{{end}}" href="{{ .URL }}" title="{{ .Title }}">{{
                    .Name }}</a>
            </li>
            {{ end }}
        </ul>
    </div>
    {{ if .Scratch.Get "home" }}
    <div class="row justify-content-center">

        <ul id="nav-social" class="list-inline">
            {{ range .Site.Params.social }}
            <li class="list-inline-item mr-3">
                <a href="{{ .href }}" target="_blank">
                    <i class="{{ .fa_icon }} text-muted"></i>
                </a>
            </li>
            {{ end }}
        </ul>
    </div>
    {{ end }}
    <hr />
</header>